<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp2.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>192.168.0.</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="R1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="R2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="R3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="R4" serializeAs="String">
                <value>True</value>
            </setting>
        </WindowsFormsApp2.Properties.Settings>
    </userSettings>
</configuration>